<!DOCTYPE html>
<html>
	<head>
		<title><%= status %> <%= msg %></title>
     	<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   </head>
   <body>
	   	<div class="jumbotron">
	   		<h1><%= status %> Error </h1>
	   		<p><%= msg %></p>
	   		<p>
	   			Try refreshing the page, if this problem persists then we're already working on it!
	   		</p>
	   	</div>
   </body>
</html>